li {
  display: inline-block;
  height: 150px;
  width:  150px;
}

.main-picture {
  height: 150px;
  width:  150px;
  overflow:hidden;
}

.main-picture video {
  height: 150px;
  width:  200px;
}

img {
  height: 150px;
  width:  150px;
}

canvas {
  height: 150px;
  width:  150px;
}

body {
  background: lightyellow;
  font-family: courier, monospace;
}
